NEXT_PUBLIC_SUPABASE_URL=https://esqyuiushsvogdbmztvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzcXl1aXVzaHN2b2dkYm16dHZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1OTU3NzUsImV4cCI6MjA4NzE3MTc3NX0.AR1tNFqcce9iGHcBVeY-jSqhAdJMYohOlUeKKiyjss0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzcXl1aXVzaHN2b2dkYm16dHZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTU5NTc3NSwiZXhwIjoyMDg3MTcxNzc1fQ.PZvTQB0uZlT54Fwa4Zeenves2gUZgLoQhVxBw4ubOXU
# Optional: for generating DB types
# SUPABASE_PROJECT_ID=your-project-id
